<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Desire</title>
    <link rel="stylesheet" href="/css/wish.css">
</head>
<body>
    <div class="wish">
        <h1>What is your desire?</h1>
        <form  action="/" method="POST">
            <input type="text" name="title" placeholder="Bus or Car"/>
            <button type="submit">click</button>
        </form>
    </div>
</body>
</html>